<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Site update</title>
    </head>
    <body>
        {{> header}}
        <p>1{{screamIT welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>